<div class="corpo">

  <div class="title listagem">
    <div>
      <h1>{{ this.titulo() }}</h1>
      <hr class="linha">
    </div>

    <div class="formulario">
      <form [formGroup]="formularioDisciplina" #formDir="ngForm">

        <mat-form-field appearance="outline" class="lado-esquerdo">
          <mat-label>Sigla</mat-label>
          <input matInput id="sigla" name="sigla" formControlName="sigla" />
          <mat-error
            *ngIf="formularioDisciplina.get('sigla')?.errors && (formularioDisciplina.get('sigla')?.dirty || formularioDisciplina.get('sigla')?.touched)">
            <span *ngIf="formularioDisciplina.get('sigla')?.errors?.['required']">Campo obrigatório.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="lado-direito" >
          <mat-label>Nome</mat-label>
          <input matInput id="nome" name="nomeDisciplina" formControlName="nomeDisciplina" />
          <mat-error
            *ngIf="formularioDisciplina.get('nomeDisciplina')?.errors && (formularioDisciplina.get('nomeDisciplina')?.dirty || formularioDisciplina.get('nomeDisciplina')?.touched)">
            <span *ngIf="formularioDisciplina.get('nomeDisciplina')?.errors?.['required']">Campo obrigatório.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Curso</mat-label>
          <input formControlName="Curso" id="curso" type="text" placeholder="Selecione um curso" matInput [matAutocomplete]="auto">
          <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
            <mat-option *ngFor="let c of filteredCursos | async" [value]="c">
              {{c.nomeCurso}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="formularioDisciplina.get('Curso')?.errors && (formularioDisciplina.get('Curso')?.dirty || formularioDisciplina.get('Curso')?.touched)">
            <span *ngIf="formularioDisciplina.get('Curso')?.errors?.['required']">Campo obrigatório.</span>
            <span *ngIf="formularioDisciplina.get('Curso')?.errors?.['cursoInvalido']">Curso inválido. Selecione um curso da lista.</span>
          </mat-error>
        </mat-form-field>


        <div>
          <button mat-raised-button color="warn" class="button" (click)="retornarParaLista()">Voltar</button>
          <button *ngIf="!this.desabilitado" mat-raised-button color="primary" class="button" (click)="submit()">{{ this.editando ? 'Salvar' : 'Cadastrar'}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
