<div class="container">
    <mat-toolbar class="mat-elevation-z8">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        Menu
        <span class="spacer"></span>
 Olá, {{authenticationService.userLogged?.nome.split(' ')[0]}} !
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" mode="side">
            <button mat-button class="menu-button" routerLink="/professor">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" routerLink="/professor/perfil">
                <mat-icon>account_circle</mat-icon>
                <span>Perfil</span>
            </button>
            <button mat-button class="menu-button" routerLink="/professor/listarPees">
                <mat-icon>book</mat-icon>
                <span>PEEs</span>
            </button>
            <button mat-button class="menu-button" routerLink="/professor/listarPeesAbonados">
                <mat-icon>book</mat-icon>
                <span>PEEs finalizados</span>
            </button>
            <button mat-button class="menu-button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Sair</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>