<div class="title" translate="no">
    <h1>Programa Especial de Estudos</h1>
    <hr class="linha" />
</div>

<div class="listagem">
    <div id="tabela">
        <mat-form-field>
            <mat-label>Pesquisar Aluno</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
        </mat-form-field>
        <table appearance="outline" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <!-- disciplinaColumn -->
            <ng-container matColumnDef="disciplina">
                <th mat-header-cell *matHeaderCellDef> Disciplina </th>
                <td mat-cell *matCellDef="let a"> {{a.disciplinas.sigla}} </td>
            </ng-container>

            <!-- NomeColumn -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let a"> {{a.red.aluno.nome}} </td>
            </ng-container>

            <!-- ProntuarioColumn -->
            <ng-container matColumnDef="prontuario">
                <th mat-header-cell *matHeaderCellDef> Prontuário </th>
                <td mat-cell *matCellDef="let a"> {{a.red.aluno.prontuario}} </td>
            </ng-container>

            <!-- EmailColumn -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let a"> {{a.red.aluno.email}} </td>
            </ng-container>

            <ng-container matColumnDef="situacao">
                <th mat-header-cell *matHeaderCellDef> Situação </th>
                <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
            </ng-container>

            <!-- Outras colunas aqui, se necessário -->
            <ng-container matColumnDef="acoes">
                <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
                <td class="actionsColumns" mat-cell *matCellDef="let a">
                    <button mat-icon-button matTooltip="Preencher Pee" (click)="adicionarPee(a)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="a.conteudo != ''" mat-icon-button matTooltip="Avaliar o plano" (click)="abonarFalta(a)">
                        <mat-icon>star</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Visualizar plano de estudo" (click)="visualizarPee(a)">
                        <mat-icon>visibility</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>