.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 89vh;
}

mat-form-field {
    width: 100%;
}

input.mat-input {
    width: 100%;

}

/* Apresentação de erro */
mat-error {
  position: absolute;
  right: 2%;
  bottom: 1%;
  font-weight: bold;
}

mat-label {
  font-weight: 100;
}
