<div class="container">
    <div>
        <h1>Avaliação do PEE</h1>
        <hr>
    </div>
    <div class="fields">
        <form [formGroup]="abonarFaltaPee" #formDir="ngForm">
            <mat-form-field class="example-full-width">
                <mat-label>Descrição</mat-label>
                <textarea matInput name="descricao" formControlName="descricao"></textarea>
                <div *ngIf="abonarFaltaPee.get('descricao')?.invalid && formDir.submitted" class="validation">
                    <p>Descrição obrigatória!</p>
                </div>
            </mat-form-field>

            <mat-form-field style="min-width: 35%; max-width: 100%; margin-right: 400px;">
                <mat-label>Data de entrega do aluno</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="entregaAluno">
                <mat-hint style="color: white;">DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div *ngIf="abonarFaltaPee.get('entregaAluno')?.invalid && formDir.submitted" class="validation">
                    <p>Data de Entrega obrigatória!</p>
                </div>
            </mat-form-field>

            <div>
                <p>Aluno cumpriu com as atividades</p>
                <mat-radio-group formControlName="cumprimento" class="example-radio-group">
                    <mat-radio-button value="S">Sim</mat-radio-button>
                    <mat-radio-button value="N">Não</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="abonarFaltaPee.get('cumprimento')?.invalid && formDir.submitted" class="validation">
                    <p>Opção obrigatória!</p>
                </div>
            </div>

            <div>
                <p>Houve alguma nova atividade</p>
                <mat-radio-group formControlName="novaAtividade" class="example-radio-group">
                    <mat-radio-button value="S">Sim</mat-radio-button>
                    <mat-radio-button value="N">Não</mat-radio-button>
                </mat-radio-group>
                <div *ngIf="abonarFaltaPee.get('novaAtividade')?.invalid && formDir.submitted" class="validation">
                    <p>Opção obrigatória!</p>
                </div>
            </div>

            <mat-form-field class="example-full-width">
                <mat-label>Percentual de abono</mat-label>
                <input type="number" matInput name="percentualAbono" formControlName="percentualAbono" />
                <div *ngIf="abonarFaltaPee.get('percentualAbono')?.invalid && formDir.submitted" class="validation">
                    <p>Percentual de abono obrigatório!</p>
                </div>
            </mat-form-field>

            <div>
                <p>Houve avaliação</p>
                <mat-radio-group formControlName="avaliacao" class="example-radio-group">
                  <mat-radio-button value="S">Sim</mat-radio-button>
                  <mat-radio-button value="N">Não</mat-radio-button>
                </mat-radio-group>
              </div>
        
              <div>
                <p>Caso tenha, ja foi realizada ?</p>
                <mat-radio-group formControlName="avaliacaoRealizada" class="example-radio-group">
                  <mat-radio-button value="S">Sim</mat-radio-button>
                  <mat-radio-button value="N">Não</mat-radio-button>
                </mat-radio-group>
              </div>
        
              <mat-form-field class="example-full-width">
                <mat-label>Data da nova avalição caso teve</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="dataAvaliacao">
                <mat-hint style="color: white;">DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
        

            <div id="buttons">
                <button mat-raised-button color="primary" (click)="cancelar()" style="margin-left: 4px;">Cancelar</button>
                <button mat-raised-button color="primary" (click)="submit()" style="margin-left: 4px;">Abonar
                    faltas</button>
            </div>
        </form>
    </div>
</div>