<div class="corpo">

  <!-- TÍTULO -->
  <div class="title listagem">
    <h1>{{ titulo() }}</h1>

    <h2 *ngIf="getCoordenador() !== undefined">
      Coordenador Responsável: {{ getCoordenador() }}
    </h2>

    <hr class="linha" />
  </div>


  <div class="formulario">

    <form
      [formGroup]="formularioRED"
      #formDir="ngForm"
      (keydown.enter)="$event.preventDefault()"
    >


      <!-- ===================== -->
      <!-- DADOS DO ALUNO -->
      <!-- ===================== -->

      <div class="secao-formulario">

        <div class="linha-3">


          <mat-form-field appearance="outline">

            <mat-label>Aluno</mat-label>

            <input
              formControlName="aluno"
              matInput
              placeholder="Selecione um aluno"
              [matAutocomplete]="auto"
              (input)="filterAlunos($event)"
            />


            <mat-autocomplete
              #auto="matAutocomplete"
              [displayWith]="displayFn"
              (optionSelected)="changeCurso()"
            >

              <mat-option
                *ngFor="let a of filteredAlunos"
                [value]="a"
              >

                {{a.prontuario}} - {{a.nome}}

              </mat-option>


            </mat-autocomplete>


          </mat-form-field>



          <mat-form-field appearance="outline">

            <mat-label>Curso do aluno</mat-label>

            <input
              matInput
              formControlName="curso"
              [value]="inputCurso"
              readonly
            />

          </mat-form-field>




          <div class="botao-container">

            <button
              type="button"
              mat-raised-button
              color="accent"
              *ngIf="!desabilitado && !editando"
              (click)="CadastrarAluno()"
            >

              <mat-icon>
                add_circle
              </mat-icon>

              Cadastrar Aluno

            </button>


          </div>


        </div>

      </div>




      <!-- ===================== -->
      <!-- AFASTAMENTO -->
      <!-- ===================== -->

      <div class="secao-formulario">


        <mat-form-field
          appearance="outline"
          class="full-width"
        >


          <mat-label>
            Motivo do afastamento
          </mat-label>


          <textarea
            matInput
            formControlName="motivoAfastamento"
            maxlength="4000"
            rows="5"
            placeholder="Ex. Fratura do braço"
          ></textarea>



          <mat-hint align="end">

            {{ updateCharacterCount(motivoAfastamento) }}
            caracteres restantes

          </mat-hint>



        </mat-form-field>


      </div>






      <!-- ===================== -->
      <!-- DADOS DO AFASTAMENTO -->
      <!-- ===================== -->


      <div class="secao-formulario">


        <div class="linha-3">



          <mat-form-field appearance="outline">


            <mat-label>
              Início do afastamento
            </mat-label>


            <input

              matInput

              formControlName="inicioAfastamento"

              mask="00/00/0000"

              placeholder="DD/MM/AAAA"

            />


          </mat-form-field>




          <mat-form-field appearance="outline">


            <mat-label>
              Dias de afastamento
            </mat-label>


            <input

              type="number"

              formControlName="tempoAfastamento"

              matInput

            />


          </mat-form-field>




          <mat-form-field appearance="outline">


            <mat-label>
              Semestre
            </mat-label>


            <input

              type="number"

              formControlName="semestreAluno"

              matInput

              min="1"

              max="24"

            />


          </mat-form-field>



        </div>


      </div>







      <!-- ===================== -->
      <!-- OBSERVAÇÃO -->
      <!-- ===================== -->


      <div class="secao-formulario">


        <mat-form-field
          appearance="outline"
          class="full-width"
        >


          <mat-label>
            Observação
          </mat-label>


          <textarea

            matInput

            formControlName="observacao"

            maxlength="4000"

            rows="5"

          ></textarea>




          <mat-hint align="end">

            {{ updateCharacterCount(observacao) }}
            caracteres restantes

          </mat-hint>



        </mat-form-field>


      </div>






      <!-- RECUSA VISUALIZAÇÃO -->


      <div
        *ngIf="recusado"
        class="secao"
      >

        <h3>
          Motivo da Recusa
        </h3>



        <mat-form-field
          appearance="outline"
          class="full-width"
        >

          <textarea
            matInput
            formControlName="motivoRecusaLabel"
            readonly
          ></textarea>


        </mat-form-field>


      </div>







      <!-- RECUSA COORDENADOR -->


      <div
        *ngIf="motivoRecusaInput && isCOORD()"
        class="secao"
      >


        <h3>
          Motivo da Recusa
        </h3>


        <mat-form-field
          appearance="outline"
          class="full-width"
        >


          <textarea

            matInput

            formControlName="motivoRecusa"

            maxlength="4000"

            rows="3"

            placeholder="Ex. Aluno errado"

          ></textarea>



        </mat-form-field>


      </div>






      <!-- ARQUIVOS -->


      <div class="secao">


        <h3>
          Arquivos Anexados
        </h3>




        <div *ngIf="attachedFiles.length > 0">


          <div
            *ngFor="let file of attachedFiles"
            class="file-item"
          >


            <a
              [href]="caminhoArquivo + file.path"
              target="_blank"
            >

              {{ file.path }}

            </a>



            <button

              type="button"

              mat-icon-button

              *ngIf="!desabilitado"

              (click)="deleteFile(file)"

            >

              <mat-icon>
                delete
              </mat-icon>


            </button>



          </div>


        </div>






        <div *ngIf="!desabilitado">



          <button

            type="button"

            mat-raised-button

            color="accent"

            (click)="fileInput.click()"

          >

            Escolher arquivos


          </button>




          <input

            hidden

            #fileInput

            type="file"

            (change)="onFileSelected($event)"

            accept=".pdf"

            multiple

          />




          <div

            *ngFor="let file of selectedFiles"

            class="file-item"

          >


            {{ file.name }}



            <button

              type="button"

              mat-icon-button

              (click)="removeFile(file)"

            >


              <mat-icon>
                delete
              </mat-icon>


            </button>



          </div>



        </div>


      </div>








      <!-- AÇÕES -->


      <div class="acoes">



        <ng-container *ngIf="!desabilitado">


          <button

            type="button"

            mat-raised-button

            color="warn"

            (click)="retornarParaLista()"

          >

            Cancelar

          </button>




          <button

            type="button"

            mat-raised-button

            color="primary"

            (click)="cadastrar()"

          >

            {{ editando ? 'Salvar' : 'Cadastrar' }}


          </button>



        </ng-container>







        <ng-container *ngIf="desabilitado">


          <button

            type="button"

            mat-raised-button

            color="primary"

            (click)="retornarParaLista()"

          >

            Voltar


          </button>






          <button

            type="button"

            mat-raised-button

            color="accent"


            *ngIf="isCOORD() && (situacao() !== 'Esperando associação de disciplina' && situacao() !== 'Esperando confirmação')"


            (click)="visualizarDisciplina()"

          >


            Visualizar disciplinas


          </button>




        </ng-container>



      </div>




    </form>


  </div>


</div>