<!--
<div class="custom-tela">
    <div *ngIf="aluno">
        <h1>Relatório RED - Aluno: {{ aluno.nome }}</h1>
        <h2>Prontuário: {{ aluno.prontuario }}</h2>
    </div>
    <ng-container *ngFor="let relatorioRed of relatoriosRed">
        <table class="custom-tabela">
            <caption>Disciplina: {{ relatorioRed.disciplina }}</caption>
            <tr>
                <td>Cumpriu Atividade:</td>
                <td>{{ relatorioRed.cumpriuAtividade }}</td>
            </tr>
            <tr>
                <td>Nova Atividade Proposta:</td>
                <td>{{ relatorioRed.novaAtividade }}</td>
            </tr>
            <tr>
                <td>Houve Avaliação:</td>
                <td>{{ relatorioRed.houveAvaliacao }}</td>
            </tr>
            <tr>
                <td>Avaliação Realizada:</td>
                <td>{{ relatorioRed.avaliacaoRealizada }}</td>
            </tr>
            <tr>
                <td>Data da Avaliação:</td>
                <td>{{ relatorioRed.dataAvaliacao }}</td>
            </tr>
        </table>
    </ng-container>
</div>
-->