.custom-tela {
    background-color: #f7f7f7;
    padding: 2%;
    margin: 2%;
}

.custom-tela h1{
  color: black;
  font-size: xx-large;
}

.custom-tela h2{
  color: black;
  font-size: x-large;
}

.custom-tela p {
  color: black;
    margin-bottom: 10px;
    font-size: large;
}

.custom-tela p:first-child {
    font-weight: bold;
}

.custom-item {
    border: 3px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}
