<div class="custom-tela" *ngIf="dadosPee">

    <h1>Plano Especial de Estudo da Disciplina {{ dadosPee.disciplinas.nomeDisciplina }}</h1>
    <h2> {{ dadosPee.red.aluno.nome }} - {{ dadosPee.red.aluno.prontuario }}</h2>

    <div class="custom-item">
        <h2>CONTEÚDOS A SEREM ESTUDADOS</h2>
        <p>{{ dadosPee.conteudo }}</p>
    </div>

    <div class="custom-item">
        <h2>A METODOLOGIA A SER UTILIZADA</h2>
        <p>{{ dadosPee.metodologia }}</p>
    </div>

    <div class="custom-item">
        <h2>TRABALHOS A SEREM CUMPRIDOS</h2>
        <p>{{ dadosPee.trabalhos }}</p>
    </div>

    <div class="custom-item">
        <h2>INDICAÇÕES BIBLIOGRÁFICAS</h2>
        <p>{{ dadosPee.bibliografia }}</p>
    </div>

    <div class="custom-item">
        <h2>CRITÉRIOS DE EXIGÊNCIA</h2>
        <p>{{ dadosPee.criterios }}</p>
    </div>

    <div class="custom-item">
        <h2>PRAZO PARA EXECUÇÃO</h2>
        <p>{{ formatData(dadosPee.prazofinal) }}</p>
    </div>

    <div class="custom-item">
        <h2>CONTATO DO PROFESSOR</h2>
        <p>{{ dadosPee.canalComunicacao }}</p>
    </div>
</div>
