<h2 mat-dialog-title>Orientação Pedagógica</h2>

<mat-dialog-content class="dialog-content">

  <mat-form-field appearance="outline" class="orientacao-field">

    <mat-label>Orientação</mat-label>

    <textarea
      matInput
      rows="12"
      [(ngModel)]="orientacao">
    </textarea>

  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button
    mat-button
    class="btn-cancelar"
    mat-dialog-close>
    Cancelar
  </button>

  <button
    mat-raised-button
    color="primary"
    (click)="salvar()">
    Salvar
  </button>

</mat-dialog-actions>