.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 89vh;
    margin: 0;
    padding: 0;
    background-color: #F4F6F8;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 42rem;
    padding: 3rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    margin: auto;
    border-top: 6px solid #2E7D32;
}

mat-form-field {
    width: 100%;
}

.fields {
    display: grid;
    width: 100%;
    gap: 1rem;
}

/* TÍTULO */
h1 {
    color: #2E7D32;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
}

/* LINHA */
.linha {
    border: none;
    height: 2px;
    background-color: #2E7D32;
    margin: 10px 0;
}

/* BOTÕES */
button {
    width: 100%;
    padding: 0.7rem;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn-confirmar {
    background-color: #2E7D32;
    color: white;
}

.btn-confirmar:hover {
    background-color: #1B5E20;
}

.btn-cancelar {
    background-color: #C62828;
    color: white;
}

.btn-cancelar:hover {
    background-color: #8E0000;
}

.btn-alterar {
    background-color: #1565C0;
    color: white;
}

.btn-alterar:hover {
    background-color: #0D47A1;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 1rem;
    }

    h1 {
        font-size: 1.5rem;
    }
}

.body {
    background-color: #F4F6F8;
    position: relative;
}

/* detalhe decorativo */
.body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: #2E7D32;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
}

/* =========================
   ANGULAR MATERIAL AJUSTES
========================= */

/* Linha do input */
::ng-deep .mat-mdc-text-field-wrapper {
    border-bottom: 2px solid #2E7D32;
}

::ng-deep .mat-mdc-text-field-wrapper:hover {
    border-bottom: 2px solid #1B5E20;
}

/* SELECT */
::ng-deep .mat-mdc-paginator .mat-mdc-select-trigger {
    background-color: #3a3a3a;
    color: #ffffff;
    border-radius: 6px;
    padding: 4px 8px;
}

::ng-deep .mat-mdc-option {
    color: #ffffff;
}

::ng-deep .mat-mdc-option:hover {
    color: #fff;
}

