<div class="title">
    <h1>REDs dos Alunos</h1>
    <hr class="linha" />
</div>

<div class="listagem">
    <div id="tabela">
        <mat-form-field>
          <mat-label>Pesquisar Aluno</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
        </mat-form-field>                
        <table appearance="outline" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <!-- alunoProntuarioColumn -->
            <ng-container matColumnDef="alunoProntuario">
                <th mat-header-cell *matHeaderCellDef> Prontuário Aluno </th>
                <td mat-cell *matCellDef="let a"> {{a.aluno_prontuario}} </td>
            </ng-container>
          
            <!-- dataInicioProcessoColumn -->
            <ng-container matColumnDef="dataInicioProcesso">
                <th mat-header-cell *matHeaderCellDef> InicioProcesso </th>
                <td mat-cell *matCellDef="let a"> {{formatData(a.data_inicio_processo)}} </td>
            </ng-container>

            <ng-container matColumnDef="dataPrevisaoTermino">
                <th mat-header-cell *matHeaderCellDef> PrevisaoTermino </th>
                <td mat-cell *matCellDef="let a"> {{formatData(a.dataPrevisaoTermino)}} </td>
            </ng-container>

            <ng-container matColumnDef="situacao">
                <th mat-header-cell *matHeaderCellDef> Situacao </th>
                <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
            </ng-container>
          
            <!-- Outras colunas aqui, se necessário -->
            <ng-container matColumnDef="acoes">
                <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
                  <td class="actionsColumns" mat-cell *matCellDef="let a">
                    <button mat-icon-button (click)="confirmarRed(a)">
                      <mat-icon>check</mat-icon>
                    </button>
                    <button mat-icon-button (click)="recusarRed(a)">
                      <mat-icon>close</mat-icon>
                    </button>
                  </td>
            </ng-container> 

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> 
          <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>