<div class="container">
  <div>
    <h1>Proposta de Estudo</h1>
    <hr>
  </div>
  <div class="fields">
    <form [formGroup]="cadastrarPee" #formDir="ngForm">

      <mat-form-field class="example-full-width">
        <mat-label>CONTEÚDOS A SEREM ESTUDADOS</mat-label>
        <textarea matInput name="conteudo" id="conteudo" formControlName="conteudo" maxlength="4000" rows="5"
          spellcheck="true"></textarea>
        <mat-hint align="end" class="hint-inside">{{ updateCharacterCount(conteudo, 4000) }} caracteres
          restantes</mat-hint>
        <mat-error
          *ngIf="cadastrarPee.get('conteudo')?.errors && (cadastrarPee.get('conteudo')?.dirty || cadastrarPee.get('conteudo')?.touched)">
          <span *ngIf="cadastrarPee.get('conteudo')?.errors?.['required']">Sigla obrigatório</span>
          <span *ngIf="cadastrarPee.get('conteudo')?.errors?.['maxlength']">Quantidade de caracteres superior ao limite
            do campo</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>A METODOLOGIA A SER UTILIZADA</mat-label>
        <textarea matInput name="metodologia" id="metodologia" formControlName="metodologia" maxlength="4000" rows="5"
          spellcheck="true"></textarea>
        <mat-hint align="end" class="hint-inside">{{ updateCharacterCount(metodologia, 4000) }} caracteres
          restantes</mat-hint>
        <mat-error
          *ngIf="cadastrarPee.get('metodologia')?.errors && (cadastrarPee.get('metodologia')?.dirty || cadastrarPee.get('metodologia')?.touched)">
          <span *ngIf="cadastrarPee.get('metodologia')?.errors?.['required']">Metodologia obrigatória</span>
          <span *ngIf="cadastrarPee.get('metodologia')?.errors?.['maxlength']">Quantidade de caracteres superior ao
            limite do campo</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>TRABALHOS A SEREM CUMPRIDOS</mat-label>
        <textarea matInput name="trabalhos" id="trabalhos" formControlName="trabalhos" maxlength="2000" rows="5"
          spellcheck="true"></textarea>
        <mat-hint align="end" class="hint-inside">{{ updateCharacterCount(trabalhos, 2000) }} caracteres
          restantes</mat-hint>
        <mat-error
          *ngIf="cadastrarPee.get('trabalhos')?.errors && (cadastrarPee.get('trabalhos')?.dirty || cadastrarPee.get('trabalhos')?.touched)">
          <span *ngIf="cadastrarPee.get('trabalhos')?.errors?.['required']">Trabalhos obrigatório</span>
          <span *ngIf="cadastrarPee.get('trabalhos')?.errors?.['maxlength']">Quantidade de caracteres superior ao limite
            do campo</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>INDICAÇÕES BIBLIOGRÁFICAS</mat-label>
        <textarea matInput name="bibliografia" id="bibliografia" formControlName="bibliografia" maxlength="2000"
          rows="5" spellcheck="true"></textarea>
        <mat-hint align="end" class="hint-inside">{{ updateCharacterCount(bibliografia, 2000) }} caracteres
          restantes</mat-hint>
        <mat-error
          *ngIf="cadastrarPee.get('bibliografia')?.errors && (cadastrarPee.get('bibliografia')?.dirty || cadastrarPee.get('bibliografia')?.touched)">
          <span *ngIf="cadastrarPee.get('bibliografia')?.errors?.['required']">Indicações bibliográficas
            obrigatória</span>
          <span *ngIf="cadastrarPee.get('bibliografia')?.errors?.['maxlength']">Quantidade de caracteres superior ao
            limite do campo</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>CRITÉRIOS DE EXIGÊNCIA</mat-label>
        <textarea matInput name="exigencia" id="exigencia" formControlName="exigencia" maxlength="2000" rows="5"
          spellcheck="true"></textarea>
        <mat-hint align="end" class="hint-inside">{{ updateCharacterCount(exigencia, 2000) }} caracteres
          restantes</mat-hint>
        <mat-error
          *ngIf="cadastrarPee.get('exigencia')?.errors && (cadastrarPee.get('exigencia')?.dirty || cadastrarPee.get('exigencia')?.touched)">
          <span *ngIf="cadastrarPee.get('exigencia')?.errors?.['required']">Critérios de exigência obrigatório</span>
          <span *ngIf="cadastrarPee.get('exigencia')?.errors?.['maxlength']">Quantidade de caracteres superior ao limite
            do campo</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field style="min-width: 100%; max-width: 100%; margin-right: 400px;">
        <mat-label>PRAZO PARA EXECUÇÃO</mat-label>
        <input matInput [matDatepicker]="picker" id="prazo" formControlName="prazo">
        <mat-hint style="color: white;">DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="cadastrarPee.get('prazo')?.errors && (cadastrarPee.get('prazo')?.dirty || cadastrarPee.get('prazo')?.touched)">
          <span *ngIf="cadastrarPee.get('prazo')?.errors?.['required']">Prazo de execução obrigatório</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>CONTATOS DO PROFESSOR</mat-label>
        <textarea matInput name="contato" id="contato" formControlName="contato"></textarea>
        <mat-error
          *ngIf="cadastrarPee.get('contato')?.errors && (cadastrarPee.get('contato')?.dirty || cadastrarPee.get('contato')?.touched)">
          <span *ngIf="cadastrarPee.get('contato')?.errors?.['required']">Prazo de execução obrigatório</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Canal de comunicação</mat-label>
        <input matInput name="comunicacao" formControlName="comunicacao" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Observações</mat-label>
        <textarea matInput name="observacao" formControlName="observacao" maxlength="4000" rows="3"
          spellcheck="true"></textarea>
        <!-- <mat-hint align="end" class="hint-inside">{{ updateCharacterCount(observacao, 4000) }} caracteres
          restantes</mat-hint> -->
      </mat-form-field>
      <div id="buttons">
        <button mat-raised-button color="primary" (click)="cancelar()" style="margin-left: 4px;">Cancelar</button>
        <button mat-raised-button color="primary" (click)="submit()" style="margin-left: 4px;">Cadastrar</button>
      </div>
    </form>
  </div>
</div>
