<div class="container padding-10px" translate="no">
  <div class="editarDisciplina">
    <h1>Editar Disciplinas</h1>
    <hr>
  </div>
  <div class="fields">
    <form [formGroup]="editarDisciplina" #formDir="ngForm">

      <mat-form-field appearance="fill" style="margin-right: 1%; min-width: 10%; max-width: 100%; margin-left: 1%">
        <mat-label>Sigla</mat-label>
        <input matInput name="sigla" formControlName="sigla">
        <mat-error
          *ngIf="editarDisciplina.get('sigla')?.errors && (editarDisciplina.get('sigla')?.dirty || editarDisciplina.get('sigla')?.touched)">
          <span *ngIf="editarDisciplina.get('sigla')?.errors?.['required']">Campo obrigatório.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="min-width: 60%; max-width: 100%;">
        <mat-label>Nome</mat-label>
        <input matInput name="nomeDisciplina" formControlName="nomeDisciplina">
        <mat-error
          *ngIf="editarDisciplina.get('nomeDisciplina')?.errors && (editarDisciplina.get('nomeDisciplina')?.dirty || editarDisciplina.get('nomeDisciplina')?.touched)">
          <span *ngIf="editarDisciplina.get('nomeDisciplina')?.errors?.['required']">Campo obrigatório.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="min-width: 94%; max-width: 100%; margin-left: 1%">
        <mat-label>Curso</mat-label>
        <input id="curso-input" formControlName="curso" type="text" placeholder="Selecione um curso" matInput [matAutocomplete]="auto" (focus)="selecionarTodoTexto()">
        <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
          <mat-option *ngFor="let c of filteredCursos | async" [value]="c">
            {{c.nomeCurso}}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="editarDisciplina.get('curso')?.errors && (editarDisciplina.get('curso')?.dirty || editarDisciplina.get('curso')?.touched)">
          <span *ngIf="editarDisciplina.get('curso')?.errors?.['required']">Campo obrigatório.</span>
        </mat-error>
      </mat-form-field>

      <div id="buttons">
        <button mat-raised-button color="primary" (click)="cancelar()" style="margin-left: 4px;">Cancelar</button>
        <button mat-raised-button color="primary" (click)="submit()" style="margin-left: 4px;">Confirmar</button>
      </div>
    </form>
  </div>
</div>
