<div class="title">
    <h1>Professores</h1>
    <hr class="linha" />
</div>

<div class="container">
    <form [formGroup]="associarProfessor" #formDir="ngForm">
        <div id="tabela">
            <mat-form-field>
                <mat-label>Pesquisar Professor</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. André Luis">
            </mat-form-field>
            <table appearance="outline" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let a"> {{a.nome}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let a"> {{a.email}} </td>
                </ng-container>

                <ng-container matColumnDef="acoes">
                    <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
                    <td class="actionsColumns" mat-cell *matCellDef="let a">
                        <button mat-raised-button color="primary" (click)="selecionarProfessor(a)"
                            id="cadastrar">Associar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
        </div>
        <div id="tabela">
            <mat-form-field>
                <mat-label>Pesquisar Professor</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Andre Luis">
            </mat-form-field>
            <table appearance="outline" mat-table [dataSource]="dataSource2" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef> Nome </th>
                    <td mat-cell *matCellDef="let a"> {{a.nome}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef> Email </th>
                    <td mat-cell *matCellDef="let a"> {{a.email}} </td>
                </ng-container>

                <ng-container matColumnDef="acoes">
                    <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
                    <td class="actionsColumns" mat-cell *matCellDef="let a">
                        <button mat-raised-button color="primary" (click)="removerProfessor(a)"
                            id="remover">Remover</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
        </div>
        <button mat-raised-button color="primary" (click)="cadastrar()" id="cadastrar"
            style="margin-top: 10px;">Associar Professores selecionados</button>
    </form>
</div>