<div class="corpo">
  <div class="title listagem" translate="no">
    <h1>PEEs a serem preenchidos</h1>
    <hr class="linha" />
  </div>

  <div class="listagem">
    <div id="tabela" *ngIf="existePreencher; else noDataPreencher">

      <table appearance="outline" mat-table [dataSource]="dataSourceAguardando" class="mat-elevation-z8" matSort>

        <!-- disciplinaColumn -->
        <ng-container matColumnDef="Disciplina">
          <th mat-header-cell *matHeaderCellDef> Disciplina </th>
          <td mat-cell *matCellDef="let a"> {{a.disciplinas.sigla}} </td>
        </ng-container>

        <!-- NomeColumn -->
        <ng-container matColumnDef="Nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.nome}} </td>
        </ng-container>

        <!-- ProntuarioColumn -->
        <ng-container matColumnDef="Prontuario">
          <th mat-header-cell *matHeaderCellDef> Prontuário </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.prontuario}} </td>
        </ng-container>

        <!-- EmailColumn -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.email}} </td>
        </ng-container>

        <ng-container matColumnDef="Situacao">
          <th mat-header-cell *matHeaderCellDef> Situação </th>
          <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
        </ng-container>

        <!-- Outras colunas aqui, se necessário -->
        <ng-container matColumnDef="Acoes">
          <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
          <td class="actionsColumns" mat-cell *matCellDef="let a">
            <button mat-icon-button matTooltip="Preencher Pee" (click)="formularioPEE(a, false)">
              <mat-icon>edit</mat-icon>
            </button>
            <button *ngIf="a.conteudo != ''" mat-icon-button matTooltip="Avaliar o plano" (click)="abonarFalta(a)">
              <mat-icon>star</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Visualizar plano de estudo" (click)="formularioPEE(a, true)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
<mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons
      >
      </mat-paginator>    </div>
  </div>

  <ng-template #noDataPreencher>
    <p class="p-sem-conteudo">Sem PEEs a serem preenchidos.</p>
  </ng-template>

  <div class="title listagem" translate="no">
    <h1>PEEs a serem avaliados</h1>
    <hr class="linha" />
  </div>

  <div class="listagem">
    <div id="tabela" *ngIf="existeAvaliar; else noDataAvaliar">

      <table appearance="outline" mat-table [dataSource]="dataSourceEnviada" class="mat-elevation-z8" matSort>

        <!-- disciplinaColumn -->
        <ng-container matColumnDef="Disciplina">
          <th mat-header-cell *matHeaderCellDef> Disciplina </th>
          <td mat-cell *matCellDef="let a"> {{a.disciplinas.sigla}} </td>
        </ng-container>

        <!-- NomeColumn -->
        <ng-container matColumnDef="Nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.nome}} </td>
        </ng-container>

        <!-- ProntuarioColumn -->
        <ng-container matColumnDef="Prontuario">
          <th mat-header-cell *matHeaderCellDef> Prontuário </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.prontuario}} </td>
        </ng-container>

        <!-- EmailColumn -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.email}} </td>
        </ng-container>

        <ng-container matColumnDef="Situacao">
          <th mat-header-cell *matHeaderCellDef> Situação </th>
          <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
        </ng-container>

        <!-- Outras colunas aqui, se necessário -->
        <ng-container matColumnDef="Acoes">
          <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
          <td class="actionsColumns" mat-cell *matCellDef="let a">
            <button *ngIf="a.conteudo != ''" mat-icon-button matTooltip="Avaliar o plano" (click)="abonarFalta(a)">
              <mat-icon>star</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Visualizar plano de estudo" (click)="formularioPEE(a, true)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
<mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50]"
        showFirstLastButtons
      >
      </mat-paginator>    </div>
  </div>

  <ng-template #noDataAvaliar>
    <p class="p-sem-conteudo">Sem PEEs a serem avalidos.</p>
  </ng-template>
</div>
