<div class="welcome-container">

  <h1>Bem-vindo ao Sistema RED</h1>

  <div class="welcome-card">
    <h2>Ações do Docente</h2>

    <p>
      Existem alunos com Plano de Estudos Especiais (PEE) vinculados às disciplinas sob sua responsabilidade.
    </p>

    <p>
      Inicialmente, você deverá preencher as atividades que comporão o PEE de cada aluno.
    </p>

    <div class="caminho">
      Menu Lateral →
      <a [routerLink]="['/professor/listarPEEs']">
        Meus PEEs
      </a>
    </div>

    <p>
      Após o encerramento do período destinado à realização das atividades pelo aluno, será necessário avaliar as
      atividades entregues e informar o percentual de abono de faltas concedido na disciplina.
    </p>

    <p>
      Essas informações serão utilizadas para a análise e conclusão do processo RED.
    </p>
  </div>

</div>