<div class="welcome-container">

  <h1>Bem-vindo ao Sistema RED</h1>

  <div class="welcome-card">
    <h2>Associação de Disciplinas</h2>

    <p>
      O processo RED já foi analisado e agora é necessário associar as disciplinas envolvidas.
    </p>

    <div class="caminho">
      Menu Lateral →
      <a [routerLink]="['/csp/listarREDs']">
        Processo REDs
      </a>
    </div>

    <p>
      Localize o RED desejado, associe as disciplinas correspondentes
    </p>


    <div class="welcome-card">
      <h2>O RED está pronto para finalização</h2>

      <p>
        Após todas as etapas do processo RED foram concluídas pelos responsáveis dos demais níveis de acesso.
      </p>

      <p>
        Agora cabe à CSP realizar a etapa final do fluxo.
      </p>

      <div class="caminho">
        Menu Lateral →
        <a [routerLink]="['/csp/listarREDs']">
          Processo REDs
        </a>
      </div>

      <p>
        Acesse a listagem, localize o RED desejado e clique em <strong>Finalizar RED</strong>.
      </p>

    </div>

  </div>

</div>