<div class="title">
    <h1>Processos RED</h1>
    <hr class="linha" />
</div>

<div class="listagem">
    <div id="tabela">
        <mat-form-field>
            <mat-label>Pesquisar Aluno</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
          </mat-form-field>
        <table appearence="outline" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Prontuario Column -->
            <ng-container matColumnDef="Prontuário">
                <th mat-header-cell *matHeaderCellDef> Prontuário </th>
                <td mat-cell *matCellDef="let a"> {{a.aluno.prontuario}} </td>
            </ng-container>

            <ng-container matColumnDef="Nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let a"> {{a.aluno.nome}} </td>
            </ng-container>

            <ng-container matColumnDef="Curso">
                <th mat-header-cell *matHeaderCellDef> Curso </th>
                <td mat-cell *matCellDef="let a"> {{a.aluno.curso.sigla}} </td>
            </ng-container>

            <!-- Início RED Column -->
            <ng-container matColumnDef="Início RED">
                <th mat-header-cell *matHeaderCellDef> Início RED </th>
                <td mat-cell *matCellDef="let a"> {{formatData(a.inicioAfastamento)}} </td>
            </ng-container>

            <!-- Tempo Afastamento Column -->
            <ng-container matColumnDef="Tempo Afastamento">
                <th mat-header-cell *matHeaderCellDef> Tempo Afastamento </th>
                <td mat-cell *matCellDef="let a"> {{a.tempoAfastamento}} dias</td>
            </ng-container>

            <!-- Previsão Término Column -->
            <ng-container matColumnDef="Previsão Término">
                <th mat-header-cell *matHeaderCellDef> Previsão Término </th>
                <td mat-cell *matCellDef="let a"> {{formatData(a.dataPrevisaoTermino)}} </td>
            </ng-container>

            <!-- Situação Column -->
            <ng-container matColumnDef="Situação">
                <th mat-header-cell *matHeaderCellDef> Situação </th>
                <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
            </ng-container>

            <!-- Ações Column -->
            <ng-container matColumnDef="Ações">
                <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
                  <td class="actionsColumns" mat-cell *matCellDef="let a">
                    <button mat-icon-button matTooltip="Editar RED" (click)="editarRed(a)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button *ngIf="a.situacao === 'Finalizado'" mat-icon-button matTooltip="Gerar relatório de faltas" (click)="gerarRelatorioFaltasAbonadas(a)">
                        <mat-icon>description</mat-icon>
                      </button>
                  </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <button mat-raised-button color="primary" (click)="cadastrarRed()" id="cadastrarRED">Cadastrar RED</button>
</div>
