<div class="corpo">

  <div class="title listagem">
    <h1>{{ this.titulo() }}</h1>
    <hr class="linha" />
  </div>

  <div class="formulario">
    <form [formGroup]="formularioAluno" #formDir="ngForm">

      <mat-form-field appearance="fill" class="lado-esquerdo">
        <mat-label>Prontuário</mat-label>
        <input matInput id="prontuario" name="prontuario" formControlName="prontuario" mask="AA000000A" />
        <mat-error
          *ngIf="formularioAluno.get('prontuario')?.errors && (formularioAluno.get('prontuario')?.dirty || formularioAluno.get('prontuario')?.touched)">
          <span *ngIf="formularioAluno.get('prontuario')?.errors?.['required']">Campo obrigatório</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="lado-direito">
        <mat-label>Nome</mat-label>
        <input matInput id="nome" name="nome" formControlName="nome" />
        <mat-error
          *ngIf="formularioAluno.get('nome')?.errors && (formularioAluno.get('nome')?.dirty || formularioAluno.get('nome')?.touched)">
          <span *ngIf="formularioAluno.get('nome')?.errors?.['required']">Campo obrigatório</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="lado-esquerdo">
        <mat-label>Data de Nascimento</mat-label>
        <input matInput [matDatepicker]="picker" id="data" formControlName="data">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error
          *ngIf="formularioAluno.get('data')?.errors && (formularioAluno.get('data')?.dirty || formularioAluno.get('data')?.touched)">
          <span *ngIf="formularioAluno.get('data')?.errors?.['required']">Campo obrigatório</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="lado-direito">
        <mat-label>Telefone</mat-label>
        <input matInput name="telefone" id="telefone" formControlName="telefone" [specialCharacters]="['(', ')', '-']"
          mask="(00)00000-0000" />
        <mat-error
          *ngIf="formularioAluno.get('telefone')?.errors && (formularioAluno.get('telefone')?.dirty || formularioAluno.get('telefone')?.touched)">
          <span *ngIf="formularioAluno.get('telefone')?.errors?.['required']">Campo obrigatório</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" id="email" formControlName="email" />
        <mat-error
          *ngIf="formularioAluno.get('email')?.errors && (formularioAluno.get('email')?.dirty || formularioAluno.get('email')?.touched)">
          <span *ngIf="formularioAluno.get('email')?.errors?.['required']">Campo obrigatório</span>
          <span *ngIf="formularioAluno.get('email')?.errors?.['email']">Formato inválido para e-mail</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="curso" id="curso" type="text" placeholder="Selecione um Curso" matInput
          [matAutocomplete]="auto">
        <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
          <mat-option *ngFor="let c of filteredCursos | async" [value]="c">
            {{c.nomeCurso}}
          </mat-option>
        </mat-autocomplete>
        <mat-error
          *ngIf="formularioAluno.get('curso')?.errors && (formularioAluno.get('curso')?.dirty || formularioAluno.get('curso')?.touched)">
          <span *ngIf="formularioAluno.get('curso')?.errors?.['required']">Campo obrigatório</span>
          <span *ngIf="formularioAluno.get('curso')?.errors?.['cursoInvalido']">Curso inválido. Selecione um curso da lista.</span>
        </mat-error>
      </mat-form-field>


      <div *ngIf="!this.desabilitado">

        <button mat-raised-button color="warn" class="button" (click)="retornarParaLista()">Cancelar</button>
        <button mat-raised-button color="primary" class="button" (click)="submit()">
          {{ this.editando ? 'Salvar' : 'Cadastrar'}}
        </button>
      </div>

      <div *ngIf="this.desabilitado">

        <button mat-raised-button color="primary" class="button" (click)="retornarParaLista()">Voltar</button>
      </div>
    </form>
  </div>
</div>
