<h2 mat-dialog-title>Alterar senha</h2>

<form [formGroup]="alterarPerfil" (ngSubmit)="submit()">

  <mat-dialog-content>

    <!-- SENHA ATUAL -->
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Senha Atual</mat-label>
      <input type="password" matInput formControlName="senhaAtual" />

      <div *ngIf="alterarPerfil.get('senhaAtual')?.invalid && alterarPerfil.get('senhaAtual')?.touched" class="validation">
        <p>Senha atual obrigatória!</p>
      </div>
    </mat-form-field>

    <!-- NOVA SENHA -->
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Nova Senha</mat-label>
      <input type="password" matInput formControlName="novaSenha" />

      <div *ngIf="alterarPerfil.get('novaSenha')?.invalid && alterarPerfil.get('novaSenha')?.touched" class="validation">
        <p>Nova senha obrigatória!</p>
      </div>
    </mat-form-field>

    <!-- CONFIRMAR SENHA -->
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>Confirmar Nova Senha</mat-label>
      <input type="password" matInput formControlName="confirmarSenha" />

      <div *ngIf="alterarPerfil.get('confirmarSenha')?.invalid && alterarPerfil.get('confirmarSenha')?.touched" class="validation">
        <p>Confirmação obrigatória!</p>
      </div>

      <div *ngIf="alterarPerfil.get('confirmarSenha')?.touched && novaSenha !== confirmarSenha" class="validation">
        <p>As senhas não correspondem!</p>
      </div>
    </mat-form-field>

  </mat-dialog-content>

  <!-- BOTÕES -->
  <mat-dialog-actions align="end" class="botoes">

    <!-- CANCELAR -->
    <button mat-button type="button" (click)="cancelar()" class="btn-cancelar">
      Cancelar
    </button>

    <!-- CONFIRMAR -->
    <button mat-raised-button color="primary" type="submit" class="btn-confirmar">
      Confirmar
    </button>

  </mat-dialog-actions>

</form>