.container{
    width: 100%;
    height: 100%;
}

.form{
    margin: 50px;
}

mat-form-field {
    width: 50%;
    position: relative;
}

.form_curso {
    width: 60%;
}

input.mat-input {
    width: 100%;
}

.hint-inside {
  position: absolute;
  right: 2%;
  bottom: 1%;
}

input[disabled] {
  cursor: not-allowed; /* Cursor do mouse */
}

/* Apresentação de erro */
mat-error {
  position: absolute;
  right: 2%;
  bottom: 1%;
  font-weight: bold;
}

mat-label {
  font-weight: 100;
}
