<div class="title">
    <h1>Alunos</h1>
    <hr class="linha" />
</div>

<div class="listagem">
    <div id="tabela">
        <table appearance="outline" mat-table [dataSource]="alunos" class="mat-elevation-z8">

            <!-- ProntuarioColumn -->
            <ng-container matColumnDef="prontuario">
                <th mat-header-cell *matHeaderCellDef> Prontuário </th>
                <td mat-cell *matCellDef="let a"> {{a.prontuario}} </td>
            </ng-container>
          
            <!-- NomeColumn -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let a"> {{a.nome}} </td>
            </ng-container>

            <!-- DataColumn -->
            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef> Data Nascimento </th>
                <td mat-cell *matCellDef="let a"> {{ formatDataNascimento(a.data_nascimento)}} </td>
            </ng-container>

             <!-- EnderecoColumn -->
             <ng-container matColumnDef="endereco">
                <th mat-header-cell *matHeaderCellDef> Endereço </th>
                <td mat-cell *matCellDef="let a"> {{a.endereco}} </td>
            </ng-container>

             <!-- TelefoneColumn -->
             <ng-container matColumnDef="telefone">
                <th mat-header-cell *matHeaderCellDef> Telefone </th>
                <td mat-cell *matCellDef="let a"> {{a.telefone}} </td>
            </ng-container>

             <!-- EmailColumn -->
             <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let a"> {{a.email}} </td>
            </ng-container>
          
            <!-- Outras colunas aqui, se necessário -->
            <ng-container matColumnDef="acoes">
                <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
                  <td class="actionsColumns" mat-cell *matCellDef="let a">
                    <button mat-icon-button (click)="editarAluno(a)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteAluno(a)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
            </ng-container> 

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table> 
    </div>
    <button mat-raised-button color="primary" (click)="cadastrar()" id="cadastrar">Cadastrar Aluno</button>
</div>

