<h1 mat-dialog-title>Avaliação do PEE</h1>

<mat-dialog-content>

  <form [formGroup]="abonarFaltaPEE">

    <!-- Avaliação -->
    <mat-form-field class="full-width">
      <mat-label>Avaliação da atividade</mat-label>
      <textarea matInput formControlName="avaliacaoAtividade"></textarea>
      <mat-error *ngIf="abonarFaltaPEE.get('avaliacaoAtividade')?.errors && 
                        (abonarFaltaPEE.get('avaliacaoAtividade')?.dirty || 
                         abonarFaltaPEE.get('avaliacaoAtividade')?.touched)">
        <span *ngIf="abonarFaltaPEE.get('avaliacaoAtividade')?.errors?.['required']">
          Avaliação da atividade é obrigatória
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Data entrega -->
    <mat-form-field class="full-width">
      <mat-label>Data de entrega do aluno</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="entregaAluno">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="abonarFaltaPEE.get('entregaAluno')?.errors && 
                        (abonarFaltaPEE.get('entregaAluno')?.dirty || 
                         abonarFaltaPEE.get('entregaAluno')?.touched)">
        <span *ngIf="abonarFaltaPEE.get('entregaAluno')?.errors?.['required']">
          Data de entrega obrigatória
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Cumprimento -->
    <div class="grupo">
      <p>Aluno cumpriu com as atividades</p>
      <mat-radio-group formControlName="cumprimento">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
        <mat-radio-button value="Não">Não</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Nova atividade -->
    <div class="grupo">
      <p>Houve alguma nova atividade</p>
      <mat-radio-group formControlName="novaAtividade">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
        <mat-radio-button value="Não">Não</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Percentual -->
    <mat-form-field class="full-width">
      <mat-label>Percentual de abono</mat-label>
      <input type="number" matInput formControlName="percentualAbono" />
      <mat-error *ngIf="abonarFaltaPEE.get('percentualAbono')?.errors && 
                        (abonarFaltaPEE.get('percentualAbono')?.dirty || 
                         abonarFaltaPEE.get('percentualAbono')?.touched)">
        <span *ngIf="abonarFaltaPEE.get('percentualAbono')?.errors?.['required']">
          Percentual de abono obrigatório
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Houve avaliação -->
    <div class="grupo">
      <p>Houve avaliação</p>
      <mat-radio-group formControlName="avaliacao">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
        <mat-radio-button value="Não">Não</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Avaliação realizada -->
    <div class="grupo">
      <p>Caso tenha, já foi realizada?</p>
      <mat-radio-group formControlName="avaliacaoRealizada">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
        <mat-radio-button value="Não">Não</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Data avaliação -->
    <mat-form-field class="full-width">
      <mat-label>Data da nova avaliação caso tenha</mat-label>
      <input matInput [matDatepicker]="picker2" formControlName="dataAvaliacao">
      <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-raised-button color="warn" type="button" (click)="cancelar()">
    Cancelar
  </button>

  <button mat-raised-button color="primary" type="button" (click)="submit()">
    Abonar faltas
  </button>

</mat-dialog-actions>