<h1 mat-dialog-title>Avaliação do PEE</h1>

<mat-dialog-content>

  <form [formGroup]="abonarFaltaPEE">

    <!-- Avaliação -->
    <mat-form-field class="full-width">
      <mat-label>Avaliação da atividade</mat-label>
      <textarea matInput formControlName="avaliacaoAtividade"></textarea>

      <mat-error *ngIf="abonarFaltaPEE.get('avaliacaoAtividade')?.errors &&
                        (abonarFaltaPEE.get('avaliacaoAtividade')?.dirty ||
                         abonarFaltaPEE.get('avaliacaoAtividade')?.touched)">
        <span *ngIf="abonarFaltaPEE.get('avaliacaoAtividade')?.errors?.['required']">
          Avaliação da atividade é obrigatória!
        </span>
      </mat-error>
    </mat-form-field>

    <!-- Data entrega -->
    <mat-form-field class="full-width">
      <mat-label>Data de entrega do aluno</mat-label>

      <input matInput formControlName="dataEntregaAtividade" mask="00/00/0000" placeholder="DD/MM/AAAA">

      <mat-error *ngIf="abonarFaltaPEE.get('dataEntregaAtividade')?.errors &&
                        (abonarFaltaPEE.get('dataEntregaAtividade')?.dirty ||
                         abonarFaltaPEE.get('dataEntregaAtividade')?.touched)">

        <span *ngIf="abonarFaltaPEE.get('dataEntregaAtividade')?.errors?.['required']">
          Data de entrega obrigatória! O formato deve ser DD/MM/AAAA.
        </span>

        <span *ngIf="abonarFaltaPEE.get('dataEntregaAtividade')?.errors?.['pattern']">
          Data inválida! O formato deve ser DD/MM/AAAA.
        </span>

      </mat-error>
    </mat-form-field>

    <!-- Cumprimento -->
    <div class="grupo">
      <p>Aluno cumpriu com as atividades?</p>

      <mat-radio-group formControlName="cumprimento">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
        <mat-radio-button value="Não">Não</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Nova atividade -->
    <div class="grupo">
      <p>Houve alguma nova atividade?</p>

      <mat-radio-group formControlName="novaAtividade">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
        <mat-radio-button value="Não">Não</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Perdeu avaliação -->
    <div class="grupo">
      <p>O aluno perdeu avaliação no período de RED?</p>

      <mat-radio-group formControlName="avaliacao">
        <mat-radio-button value="Sim">Sim</mat-radio-button>
        <mat-radio-button value="Não">Não</mat-radio-button>
      </mat-radio-group>
    </div>

    <!-- Nova data da avaliação -->
    <ng-container *ngIf="abonarFaltaPEE.get('avaliacao')?.value === 'Sim'">

      <mat-form-field class="full-width">
        <mat-label>Nova data da avaliação</mat-label>

        <input matInput formControlName="dataAvaliacao" mask="00/00/0000" placeholder="DD/MM/AAAA">

        <mat-error *ngIf="abonarFaltaPEE.get('dataAvaliacao')?.errors &&
                          (abonarFaltaPEE.get('dataAvaliacao')?.dirty ||
                           abonarFaltaPEE.get('dataAvaliacao')?.touched)">

          <span *ngIf="abonarFaltaPEE.get('dataAvaliacao')?.errors?.['required']">
            A nova data da avaliação é obrigatória.
          </span>

          <span *ngIf="abonarFaltaPEE.get('dataAvaliacao')?.errors?.['pattern']">
            Data inválida! O formato deve ser DD/MM/AAAA.
          </span>

        </mat-error>
      </mat-form-field>

    </ng-container>

  </form>

</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-raised-button color="warn" type="button" (click)="cancelar()">
    Cancelar
  </button>

  <button mat-raised-button color="primary" type="button" (click)="submit()">
    Salvar
  </button>

</mat-dialog-actions>