<div class="container">
    <div>
        <h1>Cadastar Aluno</h1>
        <hr>
    </div>
    <div class="fields">
        <form [formGroup]="cadastrarAluno" #formDir="ngForm">
            <mat-form-field appearance="fill" style="margin-right: 10px; min-width: 10%; max-width: 100%;">
                <mat-label>Prontuário</mat-label>
                <input matInput name="prontuario" formControlName="prontuario"/>
                <div *ngIf="cadastrarAluno.get('prontuario')?.invalid && formDir.submitted" class="validation">
                    <p>Prontuario obrigatório!</p>
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill" style="min-width: 50%; max-width: 100%; margin-right: 10px;">
                <mat-label>Nome</mat-label>
                <input matInput name="nome" formControlName="nome"/>
                <div *ngIf="cadastrarAluno.get('nome')?.invalid && formDir.submitted" class="validation">
                    <p>Nome obrigatório!</p>
                </div>
            </mat-form-field>
            <mat-form-field style="min-width: 35%; max-width: 100%; margin-right: 400px;">
                <mat-label>Data de Nascimento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="data">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <div *ngIf="cadastrarAluno.get('data')?.invalid && formDir.submitted" class="validation">
                    <p>Data obrigatório!</p>
                </div>
              </mat-form-field>              
            <mat-form-field appearance="fill" style="min-width: 40%; max-width: 100%; margin-right: 10px;">
                <mat-label>Endereço</mat-label>
                <input matInput name="endereco" formControlName="endereco"/>
                <div *ngIf="cadastrarAluno.get('endereco')?.invalid && formDir.submitted" class="validation">
                    <p>Endereço obrigatório!</p>
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill" style="min-width: 24.2%; max-width: 100%;">
                <mat-label>Telefone</mat-label>
                <input matInput name="telefone" formControlName="telefone"/>
                <div *ngIf="cadastrarAluno.get('telefone')?.invalid && formDir.submitted" class="validation">
                    <p>Telefone obrigatório!</p>
                </div>
            </mat-form-field>
            <mat-form-field appearance="fill" style="min-width: 40%; max-width: 100%; margin-right: 10px;">
                <mat-label>Email</mat-label>
                <input matInput name="email" formControlName="email"/>
                <div *ngIf="cadastrarAluno.get('email')?.invalid && formDir.submitted" class="validation">
                    <p>Email obrigatório!</p>
                </div>
            </mat-form-field>
            <mat-form-field style="min-width: 60%; max-width: 100%;">
                <input formControlName="curso" type="text" placeholder="Selecione um Curso" matInput [matAutocomplete]="auto">
                <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
                    <mat-option *ngFor="let c of cursos" [value]="c">
                        {{c.nomecurso}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <div id="buttons">
                <button mat-raised-button color="primary" (click)="voltar()">Voltar</button>
                <button mat-raised-button color="primary" (click)="submit()" style="margin-left: 4px;">Cadastrar</button>
            </div>
        </form>
    </div>
</div>