.formulario {
  display: flex;
  flex-direction: column;
}

.formulario mat-form-field {
  width: 100%;
  margin-bottom: 25px;
}

.formulario .lado-esquerdo,
.formulario .lado-direito {
  width: 100%;
  margin-left: 0;
}

.campo-data {
  width: 100%;
}

.linha-avaliacao {
  margin-bottom: 24px;
}