<div class="container">
    <div class="title">
        <h1>Visualização RED</h1>
        <hr class="linha" />
    </div>
    <div class="fields">
    <h2>Aluno</h2>
        <form [formGroup]="visualizarRed" #formDir="ngForm">
            <mat-form-field appearance="fill" style="margin-right: 10px; min-width: 35%; max-width: 100%;">
                <mat-label>Aluno</mat-label>
                <input matInput name="prontuario" formControlName="prontuario"/>
            </mat-form-field>
            <mat-form-field  style="margin-right: 10px; min-width: 35%; max-width: 100%;">
                <mat-label>Curso</mat-label>
                <input formControlName="curso" aria-label="Curso" matInput [value]="inputCurso" />
            </mat-form-field>
        
            <h2>Motivo do afastamento</h2>
            <mat-form-field class="motivoAfastamento" style="margin-right: 10px; min-width: 50%; max-width: 100%;">
                <mat-label>Motivo do afastamento</mat-label>
                <textarea formControlName="motivoAfastamento" matInput placeholder="Ex. Fratura do braço"></textarea>
            </mat-form-field>

            <h2>Período do afastamento</h2>
            <mat-form-field style="min-width: 35%; max-width: 100%; margin-right: 10px;">
                <mat-label>Inicio do afastamento</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="inicioAfastamento">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>       
            <mat-form-field style="min-width: 35%; max-width: 100%;">
                <mat-label>Previsão do término do afastamento</mat-label>
                <input matInput [matDatepicker]="picker2" formControlName="previsaoTermino"> 
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        
            <h2>Data de início do processo</h2>
            <mat-form-field style="min-width: 35%; max-width: 100%;">
                <mat-label>Data de início do Processo</mat-label>
                <input matInput [matDatepicker]="picker3" formControlName="inicioProcesso"> 
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
            <div style="margin-bottom: 5px;">
                <button mat-raised-button color="primary" (click)="cancelar()" style="margin-left: 4px;">Cancelar</button>
                <button mat-raised-button color="primary" (click)="visualizarDisciplina(this.data)" style="margin-left: 4px;">Visualizar disciplinas</button>
            </div>
            <div id="buttons" *ngIf="this.data.situacao !== 'Finalizado' && this.data.situacao !== 'Em andamento'">
                <button mat-raised-button color="primary" (click)="confirmarRed()" style="margin-left: 4px;">Aceitar o Processo</button>
                <button mat-raised-button color="primary" (click)="recusarRed()" style="margin-left: 4px;">Recusar o Processo</button>
            </div>
        </form>
  </div>
</div>