#cadastrar {
    margin-top: 8px;
}

#tabela {
    overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
}

.mat-table {
    width: 100%; 
}

.mat-column-prontuario,
.mat-column-nome,
.mat-column-telefone,
.mat-column-email {
    white-space: nowrap; /* Impede que o conteúdo das células seja quebrado */
}

.mat-column-prontuario,
.mat-column-telefone,
.mat-column-email {
    width: 10rem; 
}

.listagem {
    width: 100%; 
}
