<div class="title">
  <h1>Gerenciar PEEs</h1>
  <hr class="linha" />
</div>

<div class="listagem">
  <div id="tabela">

    <mat-form-field>
      <mat-label>Pesquisar</mat-label>
      <input matInput (keyup)="pesquisar($event)" placeholder="Carlos | PE0000">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Situação</mat-label>
      <mat-select [(value)]="situacaoSelecionada" (selectionChange)="filtroPorSituacao($event)">
        <mat-option value="todos">Apresentar todas</mat-option>
        <mat-option *ngFor="let a of situacao" [value]="a">{{a}}</mat-option>
      </mat-select>
    </mat-form-field>

    <table appearence="outline" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!-- Prontuario Column -->
      <ng-container matColumnDef="professor">
        <th mat-header-cell *matHeaderCellDef> Professor </th>
        <td mat-cell *matCellDef="let a"> {{ a.servidor && a.servidor.nome ? a.servidor.nome : 'Associe um Professor' }} </td>
      </ng-container>

      <ng-container matColumnDef="aluno">
        <th mat-header-cell *matHeaderCellDef> Aluno </th>
        <td mat-cell *matCellDef="let a"> {{a.red.aluno.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let a"> {{a.red.aluno.email}} </td>
      </ng-container>

      <ng-container matColumnDef="disciplina">
        <th mat-header-cell *matHeaderCellDef> Disciplina </th>
        <td mat-cell *matCellDef="let a"> {{a.disciplinas.nomeDisciplina}} </td>
      </ng-container>

      <ng-container matColumnDef="situacao">
        <th mat-header-cell *matHeaderCellDef> Situação </th>
        <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
      </ng-container>

      <ng-container matColumnDef="Ações">
        <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
        <td class="actionsColumns" mat-cell *matCellDef="let a">
          <button mat-icon-button matTooltip="Visualizar PEE" (click)="visualizarPEE(a)">
            <mat-icon>visibility</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Associar professor" (click)="associarProfessor(a)"
            *ngIf="!a.conteudo || a.conteudo.trim().length === 0">
            <mat-icon>person_add_alt</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
