<div class="corpo">
  <div class="title listagem">
    <h1>Gerenciar PEEs</h1>
    <hr class="linha" />
  </div>

  <div class="listagem">
    <div id="tabela">

      <mat-form-field class="campo-pesquisa">
        <mat-label>Pesquisar</mat-label>
        <input matInput (keyup)="pesquisar($event)" placeholder="Maria Eduarda | PE0000000 | maria@aluno.ifsp.edu.br">
      </mat-form-field>

      <mat-form-field class="campo-situacao">
        <mat-label>Situação</mat-label>
        <mat-select [(value)]="situacaoSelecionada" (selectionChange)="filtroPorSituacao($event)">
          <mat-option value="todos">Apresentar todas</mat-option>
          <mat-option *ngFor="let a of situacao" [value]="a">{{a}}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class="campo-professor">
        <mat-label>Professor</mat-label>
        <mat-select [(value)]="professorSelecionado" (selectionChange)="filroPorProfessor($event)">
          <mat-option value="todos">Todos professores</mat-option>
          <mat-option *ngFor="let p of professores" [value]="p.nome">{{p.nome}}</mat-option>
        </mat-select>
      </mat-form-field> -->

      <table appearence="outline" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Aluno">
          <th mat-header-cell *matHeaderCellDef> Aluno </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="Prontuario">
          <th mat-header-cell *matHeaderCellDef> Prontuário </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.prontuario}} </td>
        </ng-container>

        <ng-container matColumnDef="Professor">
          <th mat-header-cell *matHeaderCellDef> Professor </th>
          <td mat-cell *matCellDef="let a"> {{ this.apresentarDocentes(a)}} </td>
        </ng-container>

        <ng-container matColumnDef="Disciplina">
          <th mat-header-cell *matHeaderCellDef> Disciplina </th>
          <td mat-cell *matCellDef="let a"> {{a.disciplinas.nomeDisciplina}} </td>
        </ng-container>

        <ng-container matColumnDef="Situacao">
          <th mat-header-cell *matHeaderCellDef> Situação </th>
          <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
        </ng-container>

        <ng-container matColumnDef="Acoes">
          <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
          <td class="actionsColumns" mat-cell *matCellDef="let a">

            <button mat-icon-button matTooltip="Visualizar PEE" (click)="formularioPEE(a)"
            *ngIf="!this.peeAguardandoProfessor(a) && a.situacao !== 'Aguardando Preenchimento'">
              <mat-icon>visibility</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Associar Professor" (click)="associarProfessor(a)"
              *ngIf="this.peeAguardandoProfessor(a) || peeAguardandoPreenchimento(a)">
              <mat-icon>person_add_alt</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
