<div class="corpo">

  <div class="title listagem">
    <h1>{{ this.titulo() }}</h1>
    <hr class="linha">
  </div>

  <div class="formulario">
    <form [formGroup]="formularioCurso" #formDir="ngForm">

      <mat-form-field appearance="outline" class="lado-esquerdo">
        <mat-label>Sigla</mat-label>
        <input matInput id="sigla" name="sigla" formControlName="sigla" />
        <mat-error
          *ngIf="formularioCurso.get('sigla')?.errors && (formularioCurso.get('sigla')?.dirty || formularioCurso.get('sigla')?.touched)">
          <span *ngIf="formularioCurso.get('sigla')?.errors?.['required']">Sigla obrigatório! Só é aceito letras e números.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="lado-direito">
        <mat-label>Nome do Curso</mat-label>
        <input matInput id="nome" name="nomeCurso" formControlName="nomeCurso" />
        <mat-error
          *ngIf="formularioCurso.get('nomeCurso')?.errors && (formularioCurso.get('nomeCurso')?.dirty || formularioCurso.get('nomeCurso')?.touched)">
          <span *ngIf="formularioCurso.get('nomeCurso')?.errors?.['required']">Curso obrigatório! Só é aceito letras e espaços.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Coordenador</mat-label>
        <mat-select formControlName="Coordenador" placeholder="Selecione um coordenador" [compareWith]="compareFn">
          <mat-option *ngFor="let c of coordenadores" [value]="c">
            {{ c.nome }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="formularioCurso.get('idcordenador')?.errors && (formularioCurso.get('idcordenador')?.dirty || formularioCurso.get('idcordenador')?.touched)">
          <span *ngIf="formularioCurso.get('idcordenador')?.errors?.['required']">Coordenador obrigatório! Selecione um coordenador da lista.</span>
        </mat-error>
      </mat-form-field>

      <div *ngIf="!this.desabilitado">

        <button mat-raised-button color="warn" class="button" (click)="retornarParaLista()">Cancelar</button>
        <button mat-raised-button color="primary" class="button" (click)="submit()">
          {{ this.editando ? 'Salvar' : 'Cadastrar'}}
        </button>
      </div>
    </form>
  </div>
</div>
