<div class="container">

  <div class="editarDocente" *ngIf="this.user.tiposervidor=='administrador'; else notADM">
    <h1>Editar Servidores</h1>
  </div>

  <ng-template #notADM>
    <div class="editarDocente">
      <h1>Editar Docentes</h1>
    </div>
  </ng-template>


  <div class="fields">
    <form [formGroup]="cadastrarServidor" #formDir="ngForm">
      <mat-form-field appearance="fill" style="margin-right: 1%; min-width: 20%; max-width: 100%; margin-left: 1%;">
        <mat-label>Prontuário</mat-label>
        <input matInput name="prontuario" id="prontuario" formControlName="prontuario" mask="AA00000A" />
        <div *ngIf="cadastrarServidor.get('prontuario')?.invalid && formDir.submitted" class="validation">
          <p>Prontuario obrigatório!</p>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill" style="min-width: 50%; max-width: 100%;">
        <mat-label>Nome</mat-label>
        <input matInput name="nome" id="nome" formControlName="nome" />
        <div *ngIf="cadastrarServidor.get('nome')?.invalid && formDir.submitted" class="validation">
          <p>Nome obrigatório!</p>
        </div>
      </mat-form-field>
      <mat-form-field appearance="fill" style="min-width: 84%; max-width: 100%; margin-left: 1%;">
        <mat-label>Email</mat-label>
        <input matInput name="email" id="email" formControlName="email" />
        <div *ngIf="cadastrarServidor.get('email')?.invalid && formDir.submitted" class="validation">
          <p>Email obrigatório!</p>
        </div>
      </mat-form-field>
      <div *ngIf="mostrarCampo()">
        <mat-form-field style="min-width: 84%; max-width: 100%; margin-left: 1%;">
          <mat-label>Categoria de Servidor</mat-label>
          <input matInput name="tiposervidor" id="tiposervidor" formControlName="tiposervidor" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let c of tipoServidores" [value]="c">
              {{c}}
            </mat-option>
          </mat-autocomplete>
          <div *ngIf="cadastrarServidor.get('tiposervidor')?.invalid && formDir.submitted" class="validation">
            <p>Categoria do Servidor obrigatório!</p>
          </div>
        </mat-form-field>
      </div>
      <div id="buttons">
        <button mat-raised-button color="primary" (click)="cancelar()" style="margin-left: 1%;">Cancelar</button>
        <button mat-raised-button color="primary" (click)="submit()" style="margin-left: 1%;">Confirmar</button>
      </div>
    </form>
  </div>
</div>
