<div class="welcome-container">

  <h1>Bem-vindo ao Sistema RED</h1>


  <div class="welcome-card">

    <h2>Primeiros Passos</h2>


    <p>
      Para cadastrar um novo RED, siga o caminho abaixo:
    </p>



    <div class="caminho">

      Menu Lateral →

      <a [routerLink]="['/cra/listarREDs']">
        Processo REDs
      </a>

      →

      <a class="link-cadastrar-red" [routerLink]="['/cra/formularioRED']">
        Cadastrar RED
      </a>

    </div>




    <p>
      Após o cadastro, você poderá acompanhar, editar e finalizar os REDs pelo sistema.
    </p>


  </div>


</div>