.mat-column-nomecurso{
    width: 30rem;
}
.mat-column-sigla{
    width: 5rem;
}
.mat-column-acoes{
    width: 20rem;
}
#cadastrar{
    margin-top: 8px;
}
#tabela{
    max-width: 100rem;
}
.listagem{
    max-width: 100rem;
}