<div class="corpo">
  <div class="title listagem" translate="no">

  </div>

  <div class="listagem3">
    <div id="tabela3">
      <h1>REDs esperando confirmação</h1>
      <hr class="linha" />
      <table appearence="outline" mat-table [dataSource]="dataSourceRed" class="mat-elevation-z8 table">

        <ng-container matColumnDef="NomeRED">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let a"> {{a.aluno.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="ProntuarioRED">
          <th mat-header-cell *matHeaderCellDef> Prontuário </th>
          <td mat-cell *matCellDef="let a"> {{a.aluno.prontuario}} </td>
        </ng-container>

        <ng-container matColumnDef="CursoRED">
          <th mat-header-cell *matHeaderCellDef> Curso </th>
          <td mat-cell *matCellDef="let a"> {{a.aluno.curso.sigla}} </td>
        </ng-container>

        <ng-container matColumnDef="Inicio-RED">
          <th mat-header-cell *matHeaderCellDef> Início RED </th>
          <td mat-cell *matCellDef="let a"> {{formatData(a.inicioAfastamento)}} </td>
        </ng-container>

        <ng-container matColumnDef="Tempo-AfastamentoRED">
          <th mat-header-cell *matHeaderCellDef> Tempo Afastamento </th>
          <td mat-cell *matCellDef="let a"> {{a.tempoAfastamento}} dias</td>
        </ng-container>

        <ng-container matColumnDef="TerminoRED">
          <th mat-header-cell *matHeaderCellDef matTooltip="Data de término ou de previsão de término"> Data de Término
          </th>
          <td mat-cell *matCellDef="let a"> {{formatData(a.dataPrevisaoTermino)}} </td>
        </ng-container>

        <ng-container matColumnDef="Situacao-RED">
          <th mat-header-cell *matHeaderCellDef> Situação do RED </th>
          <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
        </ng-container>

        <ng-container matColumnDef="Situacao-PEE">
          <th mat-header-cell *matHeaderCellDef> Situação dos PEEs </th>
          <td mat-cell *matCellDef="let a">
            {{ this.situacaoPEEs(a.pee) }}
          </td>
        </ng-container>


        <ng-container matColumnDef="AcoesRED">
          <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
          <td class="actionsColumns" mat-cell *matCellDef="let a">

            <button mat-icon-button matTooltip="Visualizar RED" (click)="formularioRED(true, a)">
              <mat-icon>visibility</mat-icon>
            </button>

            <button *ngIf="(a.pee && a.pee.length > 0)" mat-icon-button matTooltip="Visualizar RED"
              (click)="VisualizarRED_CSP(a)">
              <mat-icon>description</mat-icon>
            </button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsRED"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRED;"></tr>
        -->
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 50 ]" aria-label="Select page of users"
        #paginatorRed></mat-paginator>

    </div>
  </div>

  <br />
  <div class="listagem1">
    <div id="tabela1">
      <h1>PEEs a serem preenchidos</h1>
      <hr class="linha" />
      <table appearance="outline" mat-table [dataSource]="dataSourceAguardando" class="mat-elevation-z8" matSort>

        <!-- disciplinaColumn -->
        <ng-container matColumnDef="Disciplina">
          <th mat-header-cell *matHeaderCellDef> Disciplina </th>
          <td mat-cell *matCellDef="let a"> {{a.disciplinas.sigla}} </td>
        </ng-container>

        <!-- NomeColumn -->
        <ng-container matColumnDef="Nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.nome}} </td>
        </ng-container>

        <!-- ProntuarioColumn -->
        <ng-container matColumnDef="Prontuario">
          <th mat-header-cell *matHeaderCellDef> Prontuário </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.prontuario}} </td>
        </ng-container>

        <!-- EmailColumn -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.email}} </td>
        </ng-container>

        <ng-container matColumnDef="Situacao">
          <th mat-header-cell *matHeaderCellDef> Situação </th>
          <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
        </ng-container>

        <!-- Outras colunas aqui, se necessário -->
        <ng-container matColumnDef="Acoes">
          <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
          <td class="actionsColumns" mat-cell *matCellDef="let a">

            <button *ngIf="isPreencher(a)" mat-icon-button matTooltip="Preencher PEE" (click)="formularioPEE(a, false)">
              <mat-icon>edit_note</mat-icon>
            </button>

            <button *ngIf="a.conteudo != ''" mat-icon-button matTooltip="Avaliar o plano" (click)="abonarFalta(a)">
              <mat-icon>star</mat-icon>
            </button>

            <button mat-icon-button matTooltip="Visualizar plano de estudo" (click)="formularioPEE(a, true)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPEE"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPEE;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users" #paginatorAguardando></mat-paginator>
    </div>
  </div>
  <br />
  <div class="listagem1">
    <div id="tabela1">
      <h1>PEEs a serem avaliados</h1>
      <hr class="linha" />
      <table appearance="outline" mat-table [dataSource]="dataSourceEnviada" class="mat-elevation-z8" matSort>

        <!-- disciplinaColumn -->
        <ng-container matColumnDef="Disciplina">
          <th mat-header-cell *matHeaderCellDef> Disciplina </th>
          <td mat-cell *matCellDef="let a"> {{a.disciplinas.sigla}} </td>
        </ng-container>

        <!-- NomeColumn -->
        <ng-container matColumnDef="Nome">
          <th mat-header-cell *matHeaderCellDef> Nome </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.nome}} </td>
        </ng-container>

        <!-- ProntuarioColumn -->
        <ng-container matColumnDef="Prontuario">
          <th mat-header-cell *matHeaderCellDef> Prontuário </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.prontuario}} </td>
        </ng-container>

        <!-- EmailColumn -->
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let a"> {{a.red.aluno.email}} </td>
        </ng-container>

        <ng-container matColumnDef="Situacao">
          <th mat-header-cell *matHeaderCellDef> Situação </th>
          <td mat-cell *matCellDef="let a"> {{a.situacao}} </td>
        </ng-container>

        <!-- Outras colunas aqui, se necessário -->
        <ng-container matColumnDef="Acoes">
          <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
          <td class="actionsColumns" mat-cell *matCellDef="let a">
            <button *ngIf="a.conteudo != ''" mat-icon-button matTooltip="Avaliar o plano" (click)="abonarFalta(a)">
              <mat-icon>star</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Visualizar plano de estudo" (click)="formularioPEE(a, true)">
              <mat-icon>visibility</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsPEE"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPEE;"></tr>

      </table>
      <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users" #paginatorAguardando></mat-paginator>
    </div>
  </div>

</div>
