<div class="container">
    <div class="title">
        <h1>Acompanhamento dos REDs</h1>
        <hr class="linha" />
    </div>
    
    <div class="listagem">
        <table appearence="outline" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!-- Prontuario Column -->
            <ng-container matColumnDef="Disciplina">
                <th mat-header-cell *matHeaderCellDef> Disciplina </th>
                <td mat-cell *matCellDef="let a"> {{a.disciplinas.sigla}} </td>
            </ng-container>

            <!-- Professor Column -->
            <ng-container matColumnDef="Professor">
                <th mat-header-cell *matHeaderCellDef> Professor </th>
                <td mat-cell *matCellDef="let a"> {{a.servidor.nome}} </td>
            </ng-container>

            <!-- Data do Envio do PEE Column -->
            <ng-container matColumnDef="Pee">
                <th mat-header-cell *matHeaderCellDef> Envio PEE </th>
                <td mat-cell *matCellDef="let a"> {{a.dataEnvioProposta}} </td>
            </ng-container>

             <!-- Cancal de comunicação Column -->
            <ng-container matColumnDef="Comunicacao">
                <th mat-header-cell *matHeaderCellDef> Comunicação </th>
                <td mat-cell *matCellDef="let a"> {{a.canalComunicacao}} </td>
            </ng-container>

            <ng-container matColumnDef="DataLimite">
                <th mat-header-cell *matHeaderCellDef> Data limite do encaminhamento para o aluno </th>
                <td mat-cell *matCellDef="let a"> {{formatData(a.prazofinal)}} </td>
            </ng-container>

            <ng-container matColumnDef="DataEncaminhamento">
                <th mat-header-cell *matHeaderCellDef> Data do encaminhamento do aluno </th>
                <td mat-cell *matCellDef="let a">
                    {{ (a.atividades[0] && a.atividades[0].dateEntregaAluno) ? formatData(a.atividades[0].dateEntregaAluno) : '' }}
                </td>
            </ng-container>                    

            <ng-container matColumnDef="Cumprimento">
                <th mat-header-cell *matHeaderCellDef> Aluno cumpriu as atividade </th>
                <td mat-cell *matCellDef="let a"> {{(a.atividades[0] && a.atividades[0].cumpriuAtividade) ? a.atividades[0].dateEntregaAluno : '' }} </td>
            </ng-container>

            <ng-container matColumnDef="NovaProposta">
                <th mat-header-cell *matHeaderCellDef> Se não, houve uma nova proposta </th>
                <td mat-cell *matCellDef="let a"> {{(a.atividades[0] &&a.atividades[0].novaAtividade) ? a.atividades[0].novaAtividade : ''}} </td>
            </ng-container>

            <ng-container matColumnDef="AtividadeAvaliativa">
                <th mat-header-cell *matHeaderCellDef> Houve atividade avaliativa durante o afastamento </th>
                <td mat-cell *matCellDef="let a"> {{a.houveAvaliacao}} </td>
            </ng-container>

            <ng-container matColumnDef="AtividadeAvaliativaRealizadas">
                <th mat-header-cell *matHeaderCellDef> Atividades avaliativas foram realizadas </th>
                <td mat-cell *matCellDef="let a"> {{a.avaliacoesRealizadas}} </td>
            </ng-container>

            <ng-container matColumnDef="DataAvaliacao">
                <th mat-header-cell *matHeaderCellDef> Data da avaliação </th>
                <td mat-cell *matCellDef="let a"> {{formatData(a.dataAvaliacao)}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>