<div class="body" translate="no">
    <div class="container">
        <form (ngSubmit)="fazerLogin()" [formGroup]="loginForm" #formDir="ngForm">
            <div style="padding: 15px 0px 15px 0px;text-align: center;">
                <h1> Sistema RED </h1>
                <hr class="linha" />
            </div>
            <div class="fields" *ngIf="!isResetPassword && isTokenValid">
                <mat-form-field appearance="fill">
                    <mat-label>Prontuário</mat-label>
                    <input matInput name="prontuario" formControlName="prontuario" maxlength="9" required/>
                    <mat-icon matSuffix>email</mat-icon>
                    <div *ngIf="prontuario.invalid && formDir.submitted" class="validation">
                        <p>O Prontuário é obrigatório!</p>
                    </div>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Senha</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="senha" formControlName="senha"/>
                    <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <div *ngIf="senha.invalid && formDir.submitted" class="validation">
                        <p *ngIf="senha.errors?.['required']">A senha é obrigatória!</p>
                    </div>
                </mat-form-field>
            </div>

            <div *ngIf="isResetPassword && isTokenValid">
                <mat-form-field appearance="fill">
                    <mat-label>Prontuário</mat-label>
                    <input matInput name="prontuario" formControlName="prontuario" maxlength="9" required/>
                    <mat-icon matSuffix>email</mat-icon>
                    <div *ngIf="prontuario.invalid && formDir.submitted" class="validation">
                        <p>O Prontuário é obrigatório!</p>
                    </div>
                </mat-form-field>
            </div>

             <button mat-flat-button color="warn" *ngIf="!isResetPassword">Entrar</button>
             <button type="button" *ngIf="isResetPassword && !isEmailSended" (click)="resetPassword()" mat-flat-button color="warn" >
                <b>Enviar Email</b>
            </button>

            <p *ngIf="isEmailSended">Foi enviado um e-mail para recuperação de senha para sua caixa de entrada!</p>
            <p *ngIf="!isResetPassword" style="color: #4a8d69; text-align: end; cursor: pointer; margin-top: 5px" (click)="isResetPassword = !isResetPassword">Esqueci minha senha</p>
            <p *ngIf="isResetPassword" style="color: rgb(66, 66, 66); text-align: center; cursor: pointer; margin-top: 5px" (click)="backToLogin()">Voltar para Login</p>
        </form>
    </div>

</div>

