<div class="container" translate="no">
  <div>
    <h1>Editar Curso</h1>
    <hr>
  </div>

  <div class="fields">
    <form [formGroup]="editarCurso" #formDir="ngForm">

      <mat-form-field appearance="fill" style="width: 20%; margin-right: 10px;">
        <mat-label>Sigla</mat-label>
        <input matInput id="sigla" name="sigla" formControlName="sigla" />
        <mat-error
          *ngIf="editarCurso.get('sigla')?.errors && (editarCurso.get('sigla')?.dirty || editarCurso.get('sigla')?.touched)">
          <span *ngIf="editarCurso.get('sigla')?.errors?.['required']">Sigla obrigatório</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" style="width: 78.5%;">
        <mat-label>Nome do Curso</mat-label>
        <input matInput id="nome" name="nomeCurso" formControlName="nomeCurso" />
        <mat-error
          *ngIf="editarCurso.get('nomeCurso')?.errors && (editarCurso.get('nomeCurso')?.dirty || editarCurso.get('nomeCurso')?.touched)">
          <span *ngIf="editarCurso.get('nomeCurso')?.errors?.['required']">Curso obrigatório</span>
      </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="Coordenador" type="text" placeholder="Selecione um coordenador"
          aria-label="Professor Coordenador" matInput [matAutocomplete]="auto">
        <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete">
          <mat-option *ngFor="let c of coordenadores" [value]="c">
            {{c.nome}}
          </mat-option>
        </mat-autocomplete>
        <mat-error
        *ngIf="editarCurso.get('idcordenador')?.errors && (editarCurso.get('idcordenador')?.dirty || editarCurso.get('idcordenador')?.touched)">
        <span *ngIf="editarCurso.get('idcordenador')?.errors?.['required']">Cordenador obrigatório</span>
      </mat-error>
      </mat-form-field>

      <div id="buttons">
        <button mat-raised-button color="primary" (click)="cancelar()" style="margin-left: 4px;">Cancelar</button>
        <button mat-raised-button color="primary" (click)="submit()" style="margin-left: 4px;">Confirmar</button>
      </div>
    </form>
  </div>
</div>
