<div class="title">
    <h1>Cursos</h1>
    <hr class="linha" />
</div>

<div class="listagem">
    <div id="tabela">
        <table appearance="outline" mat-table [dataSource]="cursos">

            <!-- NomeColumn -->
            <ng-container matColumnDef="nomecurso">
                <th mat-header-cell *matHeaderCellDef> Curso </th>
                <td mat-cell *matCellDef="let c"> {{c.nomecurso}} </td>
            </ng-container>
          
            <!-- SiglaColumn -->
            <ng-container matColumnDef="sigla">
                <th mat-header-cell *matHeaderCellDef> Sigla </th>
                <td mat-cell *matCellDef="let c"> {{c.sigla}} </td>
            </ng-container>
          
            <!-- CoordenadorColumn -->
            <ng-container matColumnDef="coordenador">
                <th mat-header-cell *matHeaderCellDef> Coordenador </th>
                <td mat-cell *matCellDef="let c"> {{c.cordenador}} </td>
            </ng-container>
          
            <!-- Outras colunas aqui, se necessário -->
            <ng-container matColumnDef="acoes">
                <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
                  <td class="actionsColumns" mat-cell *matCellDef="let c">
                    <button mat-icon-button (click)="editarCurso(c)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteCurso(c)">
                      <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button >
                      <mat-icon>remove_red_eye</mat-icon>
                    </button>
                  </td>
            </ng-container> 

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
    </div>
</div>

<button mat-raised-button color="primary" (click)="cadastrar()">Cadastrar Curso</button>
