<div class="title">

    <h1>Docentes</h1>
    <hr class="linha" />
</div>

<div class="listagem">
    <div id="tabela">
        <mat-form-field>
          <mat-label>Pesquisar Servidor</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia">
        </mat-form-field>
        <table appearance="outline" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <!-- ProntuarioColumn -->
            <ng-container matColumnDef="prontuario">
                <th mat-header-cell *matHeaderCellDef> Prontuário </th>
                <td mat-cell *matCellDef="let a"> {{a.prontuario}} </td>
            </ng-container>

            <!-- NomeColumn -->
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let a"> {{a.nome}} </td>
            </ng-container>

             <!-- EmailColumn -->
             <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let a"> {{a.email}} </td>
            </ng-container>

            <!-- Outras colunas aqui, se necessário -->
            <ng-container matColumnDef="acoes">
                <th class="actionsColumns" mat-header-cell *matHeaderCellDef> Ações </th>
                  <td class="actionsColumns" mat-cell *matCellDef="let a">
                    <button mat-icon-button matTooltip="Editar docente" (click)="editarDocente(a)">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button matTooltip="Remover docente" (click)="deleteDocente(a)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
    </div>
    <button mat-raised-button color="primary" (click)="cadastrar()" id="cadastrar" style="margin-top: 10px;">Cadastrar Docente</button>
</div>
