<div class="corpo">

  <div class="title listagem" *ngIf="isADM(); else notADM">
    <h1>{{ this.titulo() }} </h1>
    <hr class="linha" />
  </div>

  <ng-template #notADM>
    <div class="title listagem">
      <h1>Cadastro de Docentes</h1>
      <hr class="linha" />
    </div>
  </ng-template>

  <div class="formulario">
    <form [formGroup]="formularioServidor" #formDir="ngForm">

      <!-- PRONTUÁRIO -->
      <mat-form-field appearance="fill" class="lado-esquerdo">
        <mat-label>Prontuário</mat-label>
        <input matInput name="prontuario" id="prontuario" formControlName="prontuario" mask="AA000000A" />
        <mat-error
          *ngIf="formularioServidor.get('prontuario')?.errors && (formularioServidor.get('prontuario')?.dirty || formularioServidor.get('prontuario')?.touched)">
          <span *ngIf="formularioServidor.get('prontuario')?.errors?.['required']">Prontuário obrigatório</span>
        </mat-error>
      </mat-form-field>

      <!-- NOME -->
      <mat-form-field appearance="fill" class="lado-direito">
        <mat-label>Nome</mat-label>
        <input matInput name="nome" id="nome" formControlName="nome" />
        <mat-error
          *ngIf="formularioServidor.get('nome')?.errors && (formularioServidor.get('nome')?.dirty || formularioServidor.get('nome')?.touched)">
          <span *ngIf="formularioServidor.get('nome')?.errors?.['required']">Nome obrigatório</span>
        </mat-error>
      </mat-form-field>

      <!-- EMAIL -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput name="email" id="email" formControlName="email" />
        <mat-error
          *ngIf="formularioServidor.get('email')?.errors && (formularioServidor.get('email')?.dirty || formularioServidor.get('email')?.touched)">
          <span *ngIf="formularioServidor.get('email')?.errors?.['required']">E-mail obrigatório</span>
          <span *ngIf="formularioServidor.get('email')?.errors?.['email']">Formato inválido para e-mail</span>
        </mat-error>
      </mat-form-field>

      <!-- TIPO DE SERVIDOR -->
      <div *ngIf="isADM()">
        <mat-form-field>
          <mat-label>Categoria de Servidor</mat-label>
          <mat-select name="tiposervidor" id="tiposervidor" formControlName="tiposervidor">
            <mat-option *ngFor="let c of tipoServidores" [value]="c">
              {{c}}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="formularioServidor.get('tiposervidor')?.errors && (formularioServidor.get('tiposervidor')?.dirty || formularioServidor.get('tiposervidor')?.touched)">
            <span *ngIf="formularioServidor.get('tiposervidor')?.errors?.['required']">Tipo do servidor
              obrigatório</span>
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="!this.desabilitado">

        <button mat-raised-button color="warn" class="button" (click)="retornarParaLista()">Cancelar</button>
        <button mat-raised-button color="primary" class="button" (click)="submit()">
          {{ this.editando ? 'Editar' : 'Cadastrar'}}
        </button>
      </div>
    </form>
  </div>
</div>
