<div class="container">
  <div class="title">
    <h1>Cadastro RED</h1>
    <hr class="linha" />
  </div>
 <div class="form">
    <form [formGroup]="cadastrarRed" #formDir="ngForm">
      <mat-form-field>
        <input formControlName="aluno" type="text" placeholder="Selecione um aluno" aria-label="Aluno" matInput
          [matAutocomplete]="auto">

        <mat-autocomplete [displayWith]="displayFn" #auto="matAutocomplete" (optionSelected)="changeCurso()">
          <mat-option *ngFor="let a of alunos" [value]="a">
            {{a.prontuario}} - {{a.nome}}
          </mat-option>
        </mat-autocomplete>

      </mat-form-field>

      <button mat-icon-button matTooltip="Cadastrar aluno" (click)="CadastrarAluno()">
        <mat-icon>add_circle</mat-icon>
      </button>

      <mat-form-field style="margin-left: 1px;">
        <input formControlName="curso" aria-label="Curso" matInput [value]="inputCurso" />
      </mat-form-field>

      <mat-form-field class="motivoAfastamento">
        <mat-label>Descreva o motivo do afastamento do aluno</mat-label>
        <textarea formControlName="motivoAfastamento" matInput placeholder="Ex. Fratura do braço"  maxlength="4000" spellcheck="true"></textarea>
      </mat-form-field>

      <mat-form-field style="min-width: 35%; max-width: 100%; margin-right: 400px;">
        <input matInput [matDatepicker]="picker" formControlName="inicioAfastamento">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
       <mat-label>Início do afastamento</mat-label>
        <mat-datepicker #picker></mat-datepicker>
        <div *ngIf="cadastrarRed.get('inicioAfastamento')?.invalid && formDir.submitted" class="validation">
          <p>Inicio do afastamento obrigatório!</p>
        </div>
      </mat-form-field>

      <mat-form-field class="tempoAfastamento">
        <mat-label>Digite a quantidade de dias que o aluno ficará afastado</mat-label>
        <input type="number" formControlName="tempoAfastamento" matInput placeholder="Ex. 15" />
      </mat-form-field>

      <mat-form-field class="semestreAluno" style="margin-left: 1px;">
        <mat-label>Digite o semestre que o aluno se encontra</mat-label>
        <input type="number" formControlName="semestreAluno" matInput placeholder="Ex. 4" />
      </mat-form-field>

      <mat-form-field class="observacao">
        <mat-label>Faça uma observação</mat-label>
        <textarea formControlName="observacao" matInput
          placeholder="Ex. O aluno entrou em red faltando 15 dias para ferias"></textarea>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" (click)="cadastrar()" style="margin-right: 20px;">Cadastrar</button>
      </div>
      <!--  <input type="file" (change)="InputFile($event)" style="margin-right: 50px;" /> -->
    </form>
  </div>
</div>
