<div class="container">
    <mat-toolbar class="mat-elevation-z8">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
        Menu
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" mode="side">
            <button mat-button class="menu-button" routerLink="/coordenador">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button class="menu-button" routerLink="/coordenador/listar">
                <mat-icon>face</mat-icon>
                <span>Docentes</span>
            </button>
            <button mat-button class="menu-button" routerLink="/coordenador/disciplinas">
                <mat-icon>class</mat-icon>
                <span>Disciplinas</span>
            </button>
            <button mat-button class="menu-button" routerLink="/coordenador/listarRed">
                <mat-icon>class</mat-icon>
                <span>REDs</span>
            </button>
            <button mat-button class="menu-button" (click)="logout()">
                <mat-icon>logout</mat-icon>
                <span>Sair</span>
            </button>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="content mat-elevation-z8">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>