input[disabled] {
  cursor: not-allowed; /* Cursor do mouse */
}

.formulario .direito-3-button {
  margin-left: 1%;
}

.topo-direita {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}
