.mat-column-nomecurso{
    width: 30rem;
}
.mat-column-sigla{
    width: 5rem;
}
.mat-column-acoes{
    width: 20rem;
}
#cadastrar{
    margin-top: 8px;
}
#tabela{
    max-width: 100rem;
}
.listagem{
    max-width: 100rem;
}

.file-input-container {
    display: flex;
    align-items: center;
  }
  
  .file-input-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .file-input-label input {
    display: none;
  }
  
  .file-input-label mat-icon {
    margin-right: 5px;
  }